# Maven
target/
*.log
logs/
.mvn/
mvnw
mvnw.cmd

# IDE - IntelliJ
.idea/
*.iml
.classpath
.project
.settings/

# Eclipse
.settings/
bin/
.externalToolBuilders/

# Allure
allure-results/
allure-report/
.allure/

# Selenium & temp files
*.tmp
*.bak
*.swp
*~
chromedriver*
geckodriver*
msedgedriver*

# Other
*.class
*.jar
*.war
*.ear
temp/
out/