# Maven
target/
${project.build.directory}/

# IDE
.idea/
.classpath
.project
.settings/

# Logs & reports
logs/
reports/
target/allure-results/

# OS
.DS_Store
allure-results/
allure-report/

.allure/
bin/

