# Maven
target/
*.log
logs/

# IDE files
.idea/
*.iml
.classpath
.project
.settings/

# Eclipse
.settings/
bin/
.externalToolBuilders/

# Other
*.class
*.jar
*.war
*.ear
temp/
out/
*.tmp
*.bak
*.swp
*~